@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button{
  background-color: rgb(79 70 229) !important;
  color: #ffffff !important;
}

.container-fluid{
  background-color:rgb(238, 242, 255, 0.2);
}

.homePageWrapper{
  height: calc(100vh);
}

.tab-container{
  background-color: rgb(238 242 255);
}

.nav-pills .nav-link{
  border-radius: 0 !important;
  color: rgb(51 65 85);
  background-color: none !important;
  transition: all 0.3s ease-in-out;
}

.nav-pills .nav-link:hover{
  color: rgb(79 70 229) !important;
}

.nav-item .active{
  background-color: rgb(79 70 229) !important;
}

.toast-container{
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.mainWrap{
  height: 100vh;
  position: relative;
}

.wait-container{
  background-color: #ffffff;
  padding: 8px;
}

.aside{
  background-color: rgb(238 242 255);
  display: flex;
  flex-direction: column;
}

.asideInner{
  flex: 1;
}

.clientList{
  height: 500px;
  /* background: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: auto;
}

.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
}

.copyBtn{
  background-color: rgb(13 148 136) !important;
}

.leaveBtn{
  margin-top: 20px;
  background-color: rgb(225 29 72) !important;
}

.editor-container{
  height: 100vh !important;
  overflow-y: scroll;
  position: relative;
}

.output-container{
  display: inline-block;
  width: 100%;
  height: 250px;
  background-color: rgb(55 65 81);
}

.input-container{
  width: 100%;
  height: 250px;
}

.input-container textarea{
  height: 100%;
  resize: none;
}

.share_buttons{
  margin-top:1rem;
  padding: 0.5rem 5rem;
  border-radius: 5px;
  background-color: rgb(238 242 255);
}

.share_icon{
  background-color: #FFFFFF;
  padding: 1px 7px;
  font-size: 1.9rem;
  border-radius: 50px;
}

.video-chat-container{
  display: none;
}

.video-position{
  width: 100%;
}

.video-container{
  width: 300px;
  border-radius: 10px;
}

.writing{
  border: 3px solid rgb(252 165 165);
  border-radius: 10px;

}

.board{
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

.whiteboard {
  border: 1px solid rgb(252 165 165);
  border-radius: 10px;
  height: 85vh;
  width: 100%;
  /* position: absolute; */
  left: 0;
  right: 0;
  bottom: 0;
  top: 50px;
  background-color: white;
}

.colors, .controls {
  position: fixed;
}

.controls{
  right: 27%;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
  cursor: pointer;
}

.control{
  display: inline-block;
  height: 48px;
  width: 48px;
  font-size: 25px;
  background-color: rgb(238 242 255);
  padding: 7px 7px;
  cursor: pointer;
  border: 1px solid rgb(79 70 229);
}
.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
.color.white { background-color: white; }
