@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button{
  background-color: rgb(79 70 229) !important;
  color: #ffffff !important;
}

.container-fluid{
  background-color:rgb(238, 242, 255, 0.2);
}

.tab-container{
  background-color: rgb(238 242 255);
}

.nav-pills .nav-link{
  border-radius: 0 !important;
  color: rgb(51 65 85);
  background-color: none !important;
}

.nav-pills .nav-link:hover{
  color: rgb(79 70 229) !important;
}

.nav-item .active{
  background-color: rgb(79 70 229) !important;
}